
            <div class="step" id="step4" data-step="4">
                <h2>Stap 4: Push naar online repository</h2>
                <p>De laatste stap is dat je alle wijzigingen naar de online repository 
                stuurt op de server.</p> 
                
                <pre><code id="pushCommand"  data-copy>git push</code></pre>
            </div>